*{box-sizing: border-box;}
header,footer,aside,nav,section,article{display: block;}
h1,h2,h3,h4,h5,h6,p,ul,ol{margin: 0;padding: 0; list-style: none;}
html{background: #eee;font-family: 'Open Sans', sans-serif; font-size: 14px; color: #333;}
body{max-width:1200px; margin:0 auto; background:#fff; min-height:100vh;}
.fo:after,.fo:before{content: ''; display: table;}
.fo:after{clear: both;}
.header{background: #222; padding: 15px; color: #fff}
.h-logo{float:left; font-size:25px; font-weight: 600; text-decoration: none; color: #fff; text-transform: uppercase;}
.nav-bar{float: right; margin: 0; padding: 0; list-style: none;}
.nav-bar > li{float: left; margin-left: 20px;}
.nav-bar > li:first-child{margin-left: 0px}
.nav-bar > li > a{display: block; text-transform: uppercase; color:#ccc; text-decoration: none; padding: 7px}
.home-page{padding: 30px 15px; min-height: calc(100vh - 115px);}
.about-page{padding: 30px 15px;min-height: calc(100vh - 115px);}
.footer{padding:15px; text-align:center; border-top:1px solid #ccc; color:#999;}
